body {
  font-family: 'Poppins', sans-serif;
}
header {
  min-height: 100vh;
  background-image: url('../images/bg1.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section {
  min-height: 100vh;
}
#home {
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home img {
  width: 200px;
}
.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}
.servicos {
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.servicos p {
  text-align: center;
}
.servicos img {
  width: 200px;
  margin: 25px;
}

#sobre-nos {
  background-image: url('../images/bg2.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.description {
  width: 500px;
  margin-top: 50px;
}
.description p {
  text-align: justify;
}
.info {
  padding-top: 90px;
  margin-bottom: 50px;
}

.card-equipe {
  width: 750px;
  padding: 35px 15px;
  margin: 25px 0;
}
.card-equipe img {
  border-radius: 50%;
  width: 200px;
}
.card-equipe .nome {
  font-size: 25px;
  color: rgb(69, 64, 63);
}
.card-equipe .tel-email {
  font-size: 20px;
}
.card-equipe .tel-email,
.card-equipe .info-membro {
  color: rgb(103, 95, 95);
}
#map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .description {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .card-equipe {
  }
}
